/* Extra small devices (portrait phones, less than 576px)
No media query for `xs` since this is the default in Bootstrap */

/* Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) {  }

/* Medium devices (tablets, 768px and up) */
@media (min-width: 1200px) {  }

/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {  }

/* Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 768px) {  
img.news-article-img {
            display: block;
            width:  auto;
            height: 100px;
            border-radius: 50%;
}
img.news-article-img-company {
            display:block;
            width: 35px;
}
#news-article {
            border-style: outset;
            }
        }